{% extends "base.html" %}

{% block conteudo %}
    <form action="/dados" method="post">
        <label for="data_pedido">Data Pedido: </label>
        <input type="date" name="data_pedido" id="data_pedido">
        <label for="valor_total">Valor Total: </label>
        <input type="number" name="valor_total" id="valor_total">
        <label for="status">Status: </label>
        <input for="number" name="status" id="status">
        <button type="submit">Enviar</button>
    </form>
{% endblock %}